.featured{
    &__title{
        font-size: 5rem;
        line-height: 5.5rem;
        letter-spacing: 0.01em;
        color: #fff;
        font-weight: 600;
    }
    &__movies{
        margin: 32px 0 62px;
        display: flex;
        flex-wrap: wrap;
        .movie{
            margin: 10px;
            height: 235px;
            width: 175px;
            background-color: turquoise;
        }
    }
}